<div id="app">
  <h1>People and Bio's</h1>
  <h6>People Count {{ people.length }}</h6>
  <div v-for="person in people">
    <h3 v-on:click="toggleBio(person)">{{ person.name }}</h3>
    <div v-if="person.bioVisible">
       <h3>{{ person.bio }}</h3>
      <h6 v-on:click="deletePerson(person)">delete</h6>
    </div>
  </div>
  Name: <input v-model="newPersonName"><br>
  Bio: <input v-model="newPersonBio"><br>
  <button v-on:click="addPerson()">Add Person</button>
</div>
